<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../scss/account_log_screen/logscreen.css" />
    <title>Login & Register</title>
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form>
          <h1>Buat Akun</h1>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Submit</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form>
          <h1>Masukkan Akun</h1>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Submit</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Selamat Datang!</h1>
            <p>Jika Sudah Punya Akun, Silahkan Login Di Bawah Ini!</p>
            <button class="hidden" id="login">Login</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Selamat Datang!</h1>
            <p>Jika Belum Punya Akun Silahkan Register Di Bawah Ini!</p>
            <button class="hidden" id="register">Register</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
