.about .about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: black;
}

.about-container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  padding: 20px;
}

.aboutus-column {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.9);
}

.aboutus-column img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.aboutus-column p {
  line-height: 1.6;
}
